body {
  background-color: black;
}

.battleField-container {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.battle-area {
  width: 70vw;
  height: 100vh;
  background-image: url("/images/BG5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreboard {
  width: 29vw;
  height: 100vh;
  background-color: #2b4f6b;
  border: 5px solid #ffcd05b9;
  padding: 12px;
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

.scoreboard table {
  width: 100%;
  border-collapse: collapse;
}

.scoreboard th {
  text-align: center;
  color: yellow;
  font-size: 3rem;
  padding: 8px;
}

.scoreboard td {
  padding: 6px;
  border: 1px solid #ccc;
  font-family: "Luckiest Guy";
  font-weight: lighter;
}
.scoreboard td:nth-child(2) {
  text-align: right;
}

.current-battle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  margin-top: 150px;
}

.pokemon-area {
  display: flex;
  margin-top: 5rem;
  gap: 30rem;
}

.pokemon-area img {
  width: 150px;
  height: auto;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.inbattle-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inbattle-pokemon h2 {
  font-family: "Luckiest Guy";
  font-size: 1.5rem;
  color: #ffcb05;
  -webkit-text-stroke: 1.5px #3d5ca9;
  text-shadow: 1px 1px 0 #3d5ca9;
  background-color: #fbe58c;
  padding: 0px 5px 0px 20px;
  border: 3px solid #3d5ca9;
  border-radius: 0px 10px 10px 0px;
}

.inbattle-pokemon img {
  width: 150px;
  height: 150px;
}
.inbattle-pokemon h3 {
  background-color: #fbe58c;
  width: 200px;
  border: 4px solid #3d5ca9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Luckiest Guy";
  font-weight: lighter;
  padding: 5px;
  text-align: center;
}

.inbattle-pokemon h4 {
  font-family: "Luckiest Guy";
  color: #ffcd05;
  font-weight: lighter;
  letter-spacing: 6px;
  font-size: 1.5rem;
}

.attack-buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 25px;
  width: 70vw;
  height: 14vh;
  justify-content: space-evenly;
  align-items: center;
}

.attack-buttons button {
  background-color: #fbe58c;
  padding: 15px;
  width: 200px;
  border: 5px solid #3d5ca9;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #3d5ca9;
  box-shadow: 0 6px #2a3f78; /* dark bottom for depth */
  transition: all 0.1s ease-in-out;
  font-family: "Luckiest Guy";
  font-weight: lighter;
}

.attack-buttons button:hover {
  background-color: #fff4b3;
}

.attack-buttons button:active {
  box-shadow: 0 2px #2a3f78;
  transform: translateY(4px);
}

.player-details {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Luckiest Guy";
}

.player-details h4 {
  font-family: "Luckiest Guy";
  font-size: 1.5rem;
  color: #ffcb05;
  text-shadow: 1px 1px 0 #3d5ca9;
  background-color: #3d5ca9;
  text-align: center;
  border-radius: 50%;
  margin-right: -10px;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: lighter;
}

.round {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 70vw;
  font-family: "Luckiest Guy";
  font-size: 15rem;
  color: #ffcb05;
  -webkit-text-stroke: 2px #3d5ca9;
  text-shadow: 1px 1px 0 #3d5ca9;
  z-index: 10000;
  top: 50%;
  transform: translateY(-50%);
  animation: moveUp 2s ease-in-out forwards;
}

@keyframes moveUp {
  0% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 8%;
    transform: translateY(0);
    font-size: 4rem;
  }
}

p {
  color: white;
  font-family: "Luckiest Guy";
  font-size: 3rem;
}

@keyframes winnerFlash {
  0% {
    background-color: gold;
    color: black;
  }
  100% {
    background-color: transparent;
    color: inherit;
  }
}

.winner-highlight {
  animation: winnerFlash 2s ease-in-out forwards;
}

@keyframes shakeAndRedFlipped {
  0% {
    transform: scaleX(-1) translateX(0);
    filter: brightness(1);
  }
  20% {
    transform: scaleX(-1) translateX(-4px);
    filter: brightness(1.3);
  }
  40% {
    transform: scaleX(-1) translateX(4px);
    filter: brightness(1.3);
  }
  60% {
    transform: scaleX(-1) translateX(-3px);
    filter: brightness(1.3);
  }
  80% {
    transform: scaleX(-1) translateX(3px);
    filter: brightness(1.3);
  }
  100% {
    transform: scaleX(-1) translateX(0);
    filter: brightness(1);
  }
}

@keyframes shakeAndRedNormal {
  0% {
    transform: translateX(0);
    filter: brightness(1);
  }
  20% {
    transform: translateX(-4px);
    filter: brightness(1.3);
  }
  40% {
    transform: translateX(4px);
    filter: brightness(1.3);
  }
  60% {
    transform: translateX(-3px);
    filter: brightness(1.3);
  }
  80% {
    transform: translateX(3px);
    filter: brightness(1.3);
  }
  100% {
    transform: translateX(0);
    filter: brightness(1);
  }
}

.pokemon-hit {
  animation: shakeAndRedNormal 0.4s ease;
}

.pokemon-hit.flip-horizontal {
  animation: shakeAndRedFlipped 0.4s ease;
}

.damage-text {
  position: absolute;
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgb(234, 49, 49);
  /* -webkit-text-stroke: 1.5px #ffffff; */
  text-shadow: 2px 2px 4px black;
  font-family: "Luckiest Guy";
  animation: floatUp 3s ease-out forwards;
  pointer-events: none;
  top: -20px;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
